Flask==0.12.2
Flask-Cors==3.0.3
Jinja2==2.9.6
MarkupSafe==1.0
PorterStemmer==0.5
SQLAlchemy==1.1.11
Werkzeug==0.12.2
boto==2.48.0
bz2file==0.98
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
gensim==2.2.0
idna==2.5
itsdangerous==0.24
nltk==3.2.4
numpy==1.13.1
requests==2.18.3
scipy==0.19.1
six==1.10.0
smart-open==1.5.3
stop-words==2015.2.23.1
uWSGI==2.0.15
urllib3==1.19.1