form textarea#text {
  width: 500px;
  height: 100px;
}

.strongly_male, .male, .female, .strongly_female {
    font-weight: bold;
}

.strongly_male {
    color: #D7042B;
}

.male {
    color: #E34F6A;
}

.female {
    color: #50B46B;
}

.strongly_female {
    color: #05942C;
}