<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TargetHer >> Word Recommendations</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <ul>
        {% for recommendation in recommendations %}
        <li>Similarity: {{ recommendation.similarity }},
            Gender Category: {{ recommendation.word[0][2].replace('_', ' ').title() }}</li>
            <ul>
                {% for word in recommendation.word %}
                <li>{{ word[0].replace('_', ' ') }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</body>
</html>